doctype html
html
  head
    include ../partials/header.jade

    script(type="text/javascript").     
      var CONFIG = {
          "host": "#{host}",
          "port": "#{port}"
        };

  body

    div.info
    
    div.screen.screen-main

      h1 Marco Polo Logo

      .state.intro
        p Hunt or be hunted in a game of strategy and wit
        button.start Let's do it

      .state.name-entry
        p What is your name?
        form#nameform
          input#name(autocomplete="off", placeholder="What is your name?")
          button Submit

      .state.not-enough-players
        p We need at least 2 people to play the game, go get some friends.
        p Waiting
      

    div.screen.game-board

      h1 This is the game board

      p When you're ready to play, just touch the board below.
      
      ul#users

      div.board

        div.row
          div.square
          div.square
          div.square
          div.square

        div.row
          div.square
          div.square
          div.square
          div.square

        div.row
          div.square
          div.square
          div.square
          div.square

        div.row
          div.square
          div.square
          div.square
          div.square


    div.screen.screen3


    //- ul#messages
    //- form#message
    //-   input#m(autocomplete="off")
    //-   button Send

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/underscore.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/app.js")