doctype html
html
  head
    include ../partials/header.jade

  body
    p #{url}

    ul#messages
    form
      input#m(autocomplete="off")
      button Send

    script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript").
      var socket = io.connect('localhost:3333', {reconnect: true});
      console.log(socket);

      socket.on('connect', function(socket) {
        console.log('Connected!');
      });

      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });