doctype html
html
  head
    include ../partials/header.jade

    script(type="text/javascript").     
      var CONFIG = {
          "host": "#{host}",
          "port": "#{port}"
        };

  body

    div.

    div.screen.screen1


    div.screen.screen2


    div.screen.screen3

    ul#messages

    form#nameform
      input#name(autocomplete="off", placeholder="What is your name?")
      button Send
    form#message
      input#m(autocomplete="off")
      button Send

    script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/app.js")