<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
  
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('localhost:3333', {reconnect: true});
      console.log(socket);

      socket.on('connect', function(socket) {
        console.log('Connected!');
      });
    </script>

  </body>
</html>
