doctype html
html
  head
    title Reset Data

  body

    .reset
      h2 Your data is clear

      a(href="/") Return to Marco Polo

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript").
      localStorage.clear();